#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#define CSALLAP 0
#define NUMPAD 1
#define ARROW 2
#define KIS_CICA 3
#define CSETTINGZ 4
#define GAME 5
#define GAMENUM 6

    &caps_word {
        continue-list = <UNDERSCORE MINUS LALT N0 KP_N0 N1 N2 N3 N4 N5 N6 N7 N8 N9 NON_US_HASH LEFT_BRACKET>;
    };

/ {
 
    combos {

        compatible = "zmk,combos";

        combo_gamelayer {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&to GAME>;
        };

        combo_settinglayer {
            timeout-ms = <50>;
            key-positions = <0 36 11 41>;
            bindings = <&to CSETTINGZ>;
        };

        combo_numpadlayer {
            timeout-ms = <50>;
            key-positions = <0 36>;
            bindings = <&to NUMPAD>;
        };

        combo_baselayer {
            timeout-ms = <50>;
            key-positions = <37 38 39 40>;
            bindings = <&to CSALLAP>;
        };


        combo_ctrl_gui {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&kp LG(LCTRL)>;
        };


        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_shiftalt {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&caps_word>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp DEL>;
        };

        combo_gui {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LGUI>;
        };
    };

    macros {
        m_alt_a: m_alt_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_CAPSA: m_alt_CAPSA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

         m_alt_e: m_alt_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_CAPSE: m_alt_CAPSE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_i: m_alt_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_CAPSI: m_alt_CAPSI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_1_o: m_alt_1_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_1_CAPSO: m_alt_1_CAPSO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };
        

          m_alt_2_o: m_alt_2_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        
        m_alt_2_CAPSO: m_alt_2_CAPSO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_3_o: m_alt_3_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N3 &kp KP_N3 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };
        
        m_alt_3_CAPSO: m_alt_3_CAPSO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N3 &kp KP_N3 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_1_u: m_alt_1_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_1_CAPSU: m_alt_1_CAPSU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_2_u: m_alt_2_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };
        
        m_alt_2_CAPSU: m_alt_2_CAPSU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

          m_alt_3_u: m_alt_3_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N3 &kp KP_N6 &kp KP_N9>,
                <&macro_release>,
                <&kp LALT>;
        };

        m_alt_3_CAPSU: m_alt_3_CAPSU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N3 &kp KP_N6 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        // SPECIAL CHARS:
        //1ST ROW
        alt_CARET: alt_CARET {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_ASTERIX: alt_ASTERIX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_LPAR: alt_LPAR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_RPAR: alt_RPAR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_AMPS: alt_AMPS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_TILDE: alt_TILDE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N2 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_HASH: alt_HASH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        //2ND ROW
        alt_EQUAL: alt_EQUAL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_LSQBR: alt_LSQBR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        atl_RSQBR: atl_RSQBR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_PIPE: alt_PIPE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N2 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_lt: alt_lt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_gt: alt_gt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_GRAVE: alt_GRAVE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_DLLR: alt_DLLR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_AT: alt_AT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        //3RD ROW
        alt_PRCNT: alt_PRCNT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_BSLH: alt_BSLH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_FSLH: alt_FSLH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_LCRLY: alt_LCRLY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N2 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_RCRLY: alt_RCRLY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N2 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_EXCL: alt_EXCL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        //SQT;DQT;MINUS;DOT;COMMA UNDER
        alt_COMMA: alt_COMMA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_DOT: alt_DOT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_MINUS: alt_MINUS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N4 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_DQT: alt_DQT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N4>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_SQT: alt_SQT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_N9>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_UNDER: alt_UNDER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_lthn: alt_lthn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_gthn: alt_gthn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_QESTN: alt_QESTN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N6 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_COLON: alt_COLON {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N5 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;
        };

        alt_USCR: alt_USCR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N9 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;
        };

        //CTRL C+V
        ctrl_c: ctrl_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        ctrl_v: ctrl_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

behaviours {
 // MOD MORPH:
        mod_a: mod_a {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_a>, <&m_alt_CAPSA>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
        };

        mod_e: mod_e {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_e>, <&m_alt_CAPSE>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT )>;
        };

        mod_i: mod_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_i>, <&m_alt_CAPSI>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
        };

        mod_o_1: mod_o_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_1_o>, <&m_alt_1_CAPSO>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
        };

        mod_o_2: mod_o_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_2_o>, <&kp N0>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
        };

        mod_o_3: mod_o_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_BRACKET>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
        };

        mod_u_1: mod_u_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_1_u>, <&m_alt_1_CAPSU>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
        };

        mod_u_2: mod_u_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_alt_2_u>, <&kp MINUS>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
        };

        mod_u_3: mod_u_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NON_US_HASH>, <&kp NON_US_HASH>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
            keep-mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT | MOD_LSFT)>;
        };

        mod_up: mod_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp UP>;
              mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
            keep-mods = <(MOD_LGUI|MOD_LALT)>;
        };

        mod_down: mod_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp DOWN>;
             mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
            keep-mods = <(MOD_LGUI|MOD_LALT)>;
        };
        
            compatible = "zmk,behavior-mod-morph";
        mod_left: mod_left {
            #binding-cells = <0>;
            bindings = <&kp S>, <&kp LEFT>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
            keep-mods = <(MOD_LGUI|MOD_LALT)>;
        };

        mod_right: mod_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp RIGHT>;
            mods = <(MOD_LGUI | MOD_LALT | MOD_RSFT)>;
            keep-mods = <(MOD_LGUI|MOD_LALT)>;
        };   

// bspc_del: backspace_delete {
//             compatible = "zmk,behavior-mod-morph";
//             #binding-cells = <0>;
//             bindings = <&kp BACKSPACE>, <&kp DELETE>;
//             mods = <(MOD_LSFT|MOD_RSFT)>;
//             keep-mods = <(MOD_RSFT)>;
//         };              

 // HOLD TAP
        a_ht: a_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_a>, <&kp>;
        };

        e_ht: e_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_e>, <&mod_up>;
        };

        i_ht: i_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_i>, <&kp>;
        };

        o_1_ht: o_1_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_o_1>, <&kp>;
        };

        o_2_ht: o_2_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_o_3>, <&mod_o_2>;
        };

        u_1_ht: u_1_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_u_1>, <&kp>;
        };

        u_2_ht: u_2_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mod_u_3>, <&mod_u_2>;
        };

        // SDQT_ht: SDQT_hold_tap {
        //     compatible = "zmk,behavior-hold-tap";
        //     #binding-cells = <2>;
        //     tapping-term-ms = <150>;
        //     require-prior-idle-ms = <125>;
        //     flavor = "tap-preferred";
        //     bindings = <&alt_DQT>, <&alt_SQT>;
        // };

        apos_ht: apos_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>; 
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&alt_GRAVE>, <&alt_SQT>;
        };
        

        //TAP DANCE
        //TapDance for: o ó ö ő

        td_o: tap_dance_o {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&o_1_ht 0 O>, <&o_2_ht 0 0>;
        };

        

        //TapDance for: u ú ü ű

        td_u: tap_dance_u {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&u_1_ht 0 U>, <&u_2_ht 0 0>;
        };

        td_ag: tap_dance_alt_gui {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LALT>, <&kp LGUI>;
        };

        td_pm: tap_dance_plus_minus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp KP_PLUS>, <&kp KP_MINUS>;
        };

        td_ltgt: tap_dance_less_bigger_than {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&alt_lt>, <&alt_gt>;
        };

        td_n1f1: tap_dance_n1_f1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N1>, <&kp F1>;
        };

        td_n2f2: tap_dance_n2_f2 {
            compatible = "zmk,behavior-tap-dance";
        td_n3f3: tap_dance_n3_f3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N3>, <&kp F3>;
        };

        td_n4f4: tap_dance_n4_f4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N4>, <&kp F4>;
        };

        td_n5f6: tap_dance_n5_f5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N5>, <&kp F5>;
        };

        td_n6f5: tap_dance_n6_f5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N6>, <&kp F5>;
        };

        td_n7f6: tap_dance_n7_f6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N7>, <&kp F6>;
        };

        td_n8f7: tap_dance_n8_f7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N8>, <&kp F7>;
        };

        td_n9f8: tap_dance_n9_f8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N9>, <&kp F9>;
        };

        td_sdqt: tap_dance_sdqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&apos_ht 0 0>, <&alt_DQT>;
        };

        //CTRL_C + V tapD
        td_ctrl_c: tap_dance_ctrl_c {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp C>, <&kp LC(C)>;
        };

        td_ctrl_v: tap_dance_ctrl_v {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp V>, <&kp LC(V)>;
        };

        td_ctrl_z: tap_dance_ctrl_z {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp Z>, <&kp LC(Z)>;
        };
        
        td_ctrl_y: tap_dance_ctrl_y {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp Y>, <&kp LC(Y)>;
        };

        td_ctrl_x: tap_dance_ctrl_x {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp X>, <&kp LC(X)>;
        };

        td_ctrl_b: tap_dance_ctrl_b {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp B>, <&kp LC(B)>;
        };

        td_ctrl_n: tap_dance_ctrl_n {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp N>, <&kp LC(N)>;
        };
        
        td_ctrl_j: tap_dance_ctrl_j {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp J>, <&kp LC(J)>;
        };
        
        td_ctrl_t: tap_dance_ctrl_t {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp T>, <&kp LC(T)>;
        };
        
        td_ctrl_h: tap_dance_ctrl_h {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp H>, <&kp LC(H)>;
        };
        
        td_ctrl_w: tap_dance_ctrl_w {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp W>, <&kp LC(W)>;
        };
        
        td_ctrl_q: tap_dance_ctrl_q {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp Q>, <&kp LC(Q)>;
        };
        
        td_ctrl_r: tap_dance_ctrl_r {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp R>, <&kp LC(R)>;
        };


        td_ctrl_shift_k: tap_dance_ctrl_shift_k {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp k>, <&kp LC(LS(K))>;
        };

        td_cshift: tap_dance_cshift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LCTRL>, <&kp LC(LSHFT)>;
        };

        td_shiftalt: tap_dance_shiftalt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LSHIFT>, <&kp LS(LALT)>;
        };

        td_rshiftORalt: tap_dance_shift_ {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RSHIFT>, <&kp LALT>;
        };

        td_aster_bckslh: tap_dance_asterix_backslash {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&alt_ASTERIX>, <&alt_BSLH>;
        };


        td_dt_cm: tap_dance_dot_comma {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };

        tp_lyr1: tap_dance_layer1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mo ARROW>, <&mo NUMPAD>;
        };

        tp_lyr2: tap_dance_layer2 {
              compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mo KIS_CICA>, <&mo ARROW>, <&mo CSETTINGZ>;
        };
    };



    keymap {
        compatible = "zmk,keymap";

        base_layer {  
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
            // 0 11 36 41 settings layer
            // 0 11 36 41 settings laye
            // OÖŐÜŰ
        
            display-name = "CSALLAP";
            bindings = <
&kp TAB       &td_ctrl_q     &td_ctrl_w     &e_ht 0 E  &td_ctrl_r     &td_ctrl_t       &td_ctrl_y     &td_u     &i_ht 0 I  &td_o    &kp P     &kp BSPC
&td_shiftalt  &a_ht 0 A  &mod_left &mod_down  &mod_right &kp G            &td_ctrl_h         &td_ctrl_j     &td_ctrl_shift_k    &kp L    &td_sdqt  &td_rshiftORalt
&td_cshift    &td_ctrl_z &td_ctrl_x     &td_ctrl_c &td_ctrl_v &kp B       &td_ctrl_n         &kp M     &kp COMMA  &kp DOT  &kp FSLH  &td_cshift
                                   &td_ag     &tp_lyr1   &kp SPACE   &mt RGUI ENTER &tp_lyr2  &kp RALT
            >;
        };

        num_layer {
            display-name = "UTYULU-PUTYULU";
            bindings = <
&trans  &kp KP_N0 &kp N1  &kp N2  &kp N3  &td_aster_bckslh  &kp F5  &kp F4  &kp F3  &kp F2  &kp F1  &trans
&trans  &none     &kp N4  &kp N5  &kp N6  &td_pm            &kp F10 &kp F9  &kp F8  &kp F7  &kp F6  &trans
&trans  &none     &kp N7  &kp N8  &kp N9  &td_dt_cm         &kp F12 &kp F11 &none   &none   &none   &trans
                          &trans  &trans  &trans            &trans  &trans  &trans
            >;
        };
        arrow_layer {
            display-name = "PUTYULU-TYUTYUUOLU";
            bindings = <
&trans  &kp PRINTSCREEN  &none         &mt PG_UP UP    &none          &kp C_VOLUME_UP            &trans &trans  &trans  &trans  &trans &trans
&trans  &none            &mt HOME LEFT &mt PG_DN DOWN  &mt END RIGHT  &kp C_VOLUME_DOWN          &trans &trans  &trans  &trans  &trans &trans
&trans  &none            &none         &none           &none          &kp C_MUTE                 &trans &trans  &trans  &trans  &trans &trans
                                       &trans          &trans         &trans                     &trans   &trans    &trans
            >;
        };

        bracket_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |   ^  |   *  | -/+ |  (  |  )  |        |  &  |    !  |   :  |  #  |     | DEl |
            // | CTRL |     |      |  =  |  [  |  ]  |        |  <>  |  ?  |  _   |   $  |    |     |
            // | SHFT |  %  |  /  |  \  |  {  |  }  |        |  |  |      |     |   @    |     |     |
            //                    | GUI |     | SPC |        | ENT |     | ALT |
            //


            display-name = "KIS CICA";
            bindings = <
&trans  &alt_CARET  &alt_ASTERIX  &td_pm      &alt_LPAR   &alt_RPAR     &alt_AMPS  &alt_EXCL &alt_TILDE  &alt_HASH  &none    &trans
&trans  &none       &none         &alt_EQUAL  &alt_LSQBR  &atl_RSQBR    &td_ltgt   &alt_QESTN  &alt_UNDER &alt_DLLR  &alt_AT  &trans
&trans  &alt_PRCNT  &alt_FSLH     &alt_BSLH   &alt_LCRLY  &alt_RCRLY    &alt_PIPE  &none     &none       &none      &none    &trans
                                  &trans      &trans     &trans        &trans     &trans    &trans
            >;
        };

        setting_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |dsf
            

            display-name = "CSETTTINGZ";
            bindings = <
&out OUT_TOG  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &none    &none   &none     &none  &bt BT_CLR  &trans
&out OUT_BLE  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &none    &none   &none     &none  &none  &trans
&out OUT_USB  &none          &none          &bt BT_PRV     &bt BT_NXT     &none            &none    &none   &none     &none  &none  &trans
                                            &kp LGUI       &trans        &kp SPACE        &kp RET  &trans  &kp RALT
            >;
        };
        

        game_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |
            // eeee""-.,-,"01235456789

            display-name = "(X^2)^2";
            bindings = <
&trans    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I       &kp O     &kp P       &trans
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K       &kp L     &td_sdqt   &trans
&trans  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH   &trans
                         &kp LALT  &mo 6  &kp SPACE    &kp RET  &to 0  &kp RALT
            >;
        };

        sub_game_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "X/(X^2)^2";
            bindings = <
&kp ESC   &kp KP_N0  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp CAPS  &trans     &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans     &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
};


